<?xml version="1.0" encoding="UTF-8"?>
<configuration status="off" monitorinterval="5">
    <properties>
        <property name="LOG_HOME">D:/log/log4j2</property>
        <property name="FILE_NAME">test_log4j2</property>
    </properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="logger名称--->>>  %logger{36}  %d{HH:mm:ss.SSS} [%t] %level - %m%n%ex%n"/>
        </Console>
        <RollingRandomAccessFile name="MyFile" fileName="${LOG_HOME}/${FILE_NAME}.log" filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
        <File name="log4jdbc_file" fileName="log4jdbc.out">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %level - %m%n%ex%n"/>
        </File>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="MyFile"/>
            <appender-ref ref="Console"/>
        </root>

        <logger name="jdbc.sqltiming" level="INFO"/>
        <logger name="jdbc.resultsettable" level="INFO"/>
        <logger name="jdbc.sqlonly" level="OFF"/>
        <logger name="jdbc.audit" level="OFF"/>
        <logger name="jdbc.resultset" level="OFF"/>
        <logger name="jdbc.connection" level="OFF"/>

    </loggers>
</configuration>
